{% extends 'base.html' %}
{% block body %}
<script>
    $(function() {
        if($('#type').val()!==""){
            $('#inventryForm').show();
        }
        $('select#type').change(function(){
            var selectedOption = $(this).children("option:selected").val();
            if(selectedOption != '') {
                $('#inventryForm').show();
            } else {
                $('#inventryForm').hide();
            }
            if(selectedOption === '1'){
                $('#name').val("Macbook Pro");
            }else if(selectedOption === '3'){
                $('#name').val("Multiport Adapter");
            }else{
                $('#name').val("");
            }
        });
    });
</script>
<div class="mt-5 mb-5" >
<h2 class="mb-3">Add inventory</h2>
{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{error_message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<form method="POST" action="/addinventry/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            <label class="form-label">Type <span class="text-danger">*</span></label>
            <select id="type" name="type" class="form-control" required>
                <option value="">Select State</option>
                {% for inventrieType in inventrieTypes %}
                    <option value={{inventrieType.id}}>{{inventrieType.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="inventryForm" class="mt-4" style="display: none">
        <div class="row">
            <div class="col-4">
                <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                <input type="text" required class="form-control" name="name" {% if name != "" %} value="{{ name }}" {% endif %} id="name" aria-describedby="nameHelp">
            </div>
            <div class="col-4">
                <label for="serial_number" class="form-label">Serial number <span class="text-danger">*</span></label>
                <input type="text" required class="form-control" name="serial_number" {% if serial_number != "" %} value="{{ serial_number }}" {% endif %} id="serial_number" oninput="this.value = this.value.toUpperCase()" aria-describedby="snumberHelp">
            </div>
            <div class="col-4">
                <label for="serial_number" class="form-label">Photo</label>
                <input type="file" class="form-control" multiple name="photo" {% if photo != "" %} value="{{ photo }}" {% endif %} id="photo" aria-describedby="snumberphoto">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock body %}