{% extends 'base.html' %}
{% block body %}
{% load custom_tags %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Laptops</h5>
          <span class="badge badge-primary badge-pill">{{ "laptop" | get_total }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Adapters</h5>
          <span class="badge badge-primary badge-pill">{{ "adapter" | get_total }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Laptops</h5>
          <span class="badge badge-primary badge-pill">{{ "laptop" | get_available }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Adapters</h5>
          <span class="badge badge-primary badge-pill">{{ "adapter" | get_available }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="card-title">Inventory Overview</h5>
        <a href="/assign_macbook/" class="btn btn-primary">Assign MacBook</a>
    </div>
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" id="alertContainer" role="alert">
              {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
      {% if macbookInventrys %}
      <!-- Table to display laptop users -->
      <table id="inventoryTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>S. No</th>
            <th>Username</th>
            <th>Device</th>
            <th>Adapter</th>
            <th>Date</th>
            <th>File</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for macbookInventry in macbookInventrys %}
          <tr>
            <td>1</td>
            <td>{{ macbookInventry.deviceuser_id|get_username_from_id }}</td>
            <td>
              {{macbookInventry.macbook_id | get_devicename_from_id}}
              <br>
              {{ macbookInventry.macbook_id | get_deviceserial_no_from_id}}
            </td>
           <td>
              {{macbookInventry.usb_id | get_devicename_from_id}}
              <br>
              {{ macbookInventry.usb_id | get_deviceserial_no_from_id}}
            </td>
            <td>{{macbookInventry.datetime}}</td>
           <td>
              {% if macbookInventry.photo %}
                  <a href="{{ MEDIA_URL }}{{ macbookInventry.photo }}" target="_blank">file</a>
              {% endif %}
          </td>
            <td>
              <a href="{% url 'asign_and_breakfis' macbookInventry.id %}" class="btn btn-primary btn-sm">
                    Breakfix
                </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No data available</p>
      {% endif %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    // Initialize DataTable
    $('#inventoryTable').DataTable();
  });
</script>
{% endblock body %}