<!-- deviceuser_form.html -->
{% extends 'base.html' %}

{% block title %}Device User Form{% endblock %}

{% block content %}
    <h1>Device User Form</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ deviceuser.name }}"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ deviceuser.email }}"><br>
        <label for="contact_no">Contact No:</label><br>
        <input type="text" id="contact_no" name="contact_no" value="{{ deviceuser.contact_no }}"><br>
        <label for="address">Address:</label><br>
        <textarea id="address" name="address">{{ deviceuser.address }}</textarea><br>
        <label for="pincode">Pincode:</label><br>
        <input type="text" id="pincode" name="pincode" value="{{ deviceuser.pincode }}"><br>
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" value="{{ deviceuser.state }}"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
