<!-- Modal for inventory details -->
<div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="inventoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inventoryModalLabel">Inventory Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Display user name, device name, adapter name, and status dropdown here -->
          <p>User: <span id="userName"></span></p>
          <p>MacBook Serial No: <span id="macbookSerial"></span></p>
          <p>Adapter Serial No: <span id="adapterSerial"></span></p>
          <label for="status">Status:</label>
          <select class="form-select" name="status" id="status" aria-label="status">
            <option value="0">Not Available</option>
            <option value="1">Available</option>
            <option value="2">Returned</option>
            <option value="3">Breakfix</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="updateDetails()">Update</button>
        </div>
      </div>
    </div>
  </div>
  