{% extends 'base.html' %}
{% block body %}
<script>
    $(document).ready(function() {
        var stateUser = $('#user');
        var selectedUser = '{{ macbookInventryData.deviceuser_id }}';
        var selectedDevice = '{{ macbookInventryData.macbook_id }}';
        var selectedAdapter = '{{ macbookInventryData.usb_id }}';

        if(selectedUser){
            stateUser.val(selectedUser).trigger('change');
            stateUser.select2({
                placeholder: 'Select User',
                allowClear: true
            });
        }else{
            stateUser.select2({
                placeholder: 'Select User',
                allowClear: true
            });
        }

        var stateDevice = $('#device');
        if(selectedDevice){
            stateDevice.val(selectedDevice).trigger('change');
            stateDevice.select2({
                placeholder: 'Select Device',
                allowClear: true
            });
        }else{
            stateDevice.select2({
                placeholder: 'Select Device',
                allowClear: true
            });
        }
        var selectAdapter = $('#adapter');
        if(selectAdapter){
            selectAdapter.val(selectedAdapter).trigger('change');
            selectAdapter.select2({
                placeholder: 'Select Adapter',
                allowClear: true
            });
        }else{
            selectAdapter.select2({
                placeholder: 'Select Adapter',
                allowClear: true
            });
        }

    })

</script>
<div class="mt-5 mb-5" >
    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error_message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form method="POST" action="/update_macbook_by_id/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            <input type="hidden" name="assign_id" value="{{ macbookInventryData.id }}">
            <label class="form-label">User <span class="text-danger">*</span></label>
            <select class="form-select" name="user" id="user" aria-label="type">
              <option selected value="">Please select user</option>
                {% for deviceuser in deviceusers %}
                    <option  value="{{deviceuser.id}}">{{deviceuser.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <label class="form-label">Device <span class="text-danger">*</span></label>
            <select class="form-control choices-single" name="device" id="device" aria-label="type">
              <option selected value="">Please select device</option>
                {% for laptop in laptops %}
                    <option value="{{laptop.id}}">{{laptop.serial_no}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <label class="form-label">Adapter <span class="text-danger">*</span></label>
            <select class="form-control choices-single" name="adapter" id="adapter" aria-label="type">
              <option selected value="">Please select device</option>
                {% for adapter in adapters %}
                    <option value={{adapter.id}}>{{adapter.serial_no}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <label class="form-label">Tkacking No</label>
            <input type="text" class="form-control" name="tracking_no" {% if macbookInventryData.tracking_no != "" %} value="{{ macbookInventryData.tracking_no }}" {% endif %} id="tracking_no" aria-describedby="trackingHelp">
        </div>
        <div class="col-4">
            <label class="form-label">Delivery dateTime <span class="text-danger">*</span></label>
            <input type="datetime-local" class="form-control" name="delivery_datetime" id="delivery_datetime"
                    {% if macbookInventryData.delivery_datetime %}
                   value="{{ macbookInventryData.delivery_datetime|date:'Y-m-d\TH:i' }}"
               {% endif %}
                   aria-describedby="dateTimeHelp">
        </div>
        <div class="col-4">
            <label class="form-label">Tkacking Slip</label> {% if macbookInventryData.photo != "" %} <a href="{{ MEDIA_URL }}{{ macbookInventryData.photo }}" target="_blank">Uploaded file</a> {% endif %}
            <input type="file" class="form-control" name="tracking_slpi" id="tracking_slpi" aria-describedby="trackingSlipHelp">
        </div>
    </div>
     <div class="row mt-3">
         <div class="col-8">
            <label class="form-label">Other information</label>
            <textarea id="other_information" name="other_information" class="form-control" required>{{ macbookInventryData.other_info }}</textarea>
        </div>
    </div>
     <div class="row mt-3">
        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
</div>

{% endblock body %}