{% extends 'base.html' %}
{% block body %}
<style type="text/css">
    .squre{
        width: 170px;
        height: 170px;

    }
    .img-fluid{
        height:100px;
        margin-bottom: 10px;
        border: 2px solid #939393;
    }
    </style>
<script>
    $(function() {
        if($('#type').val()!==""){
            $('#inventryForm').show();
        }
        $('select#type').change(function(){
            var selectedOption = $(this).children("option:selected").val();
            if(selectedOption != '') {
                $('#inventryForm').show();
            } else {
                $('#inventryForm').hide();
            }
            if(selectedOption === '1'){
                $('#name').val("Macbook Pro");
            }else if(selectedOption === '3'){
                $('#name').val("Multiport Adapter");
            }else{
                $('#name').val("");
            }
        });
        var inventrieTypes = '{{ inventry.type }}';
        if(inventrieTypes){
            $('#type').val(inventrieTypes).trigger('change');
        }
    });
    function deletePhoto(photoId) {
        if (confirm("Are you sure you want to delete this photo?")) {
            $.ajax({
                type: 'POST',
                url: '/delete_photo/',
                data: {
                    'photo_id': photoId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    // Remove the deleted photo from the DOM
                    $('#photo_' + photoId).remove();
                }
            });
        }
    }
</script>
<div class="mt-5 mb-5" >
<h2 class="mb-3">Update inventory</h2>
{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{error_message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<form method="POST" action="/update_inventry_data/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <input type="hidden" name="inventry_id" value="{{ inventry.id }}">
        <div class="col-6">
            <label class="form-label">Type <span class="text-danger">*</span></label>
             <select id="type" name="type" class="form-control" required>
                <option value="">Select State</option>
                {% for inventrieType in inventrieTypes %}
                    <option value={{inventrieType.id}}>{{inventrieType.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="inventryForm" class="mt-4" style="display: none">
        <div class="row">
            <div class="col-3">
                <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required name="name" {% if inventry.name != "" %} value="{{ inventry.name }}" {% endif %} id="name" aria-describedby="nameHelp">

            </div>
            <div class="col-3">
                <label for="serial_number" class="form-label">Serial number <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required name="serial_number" {% if inventry.serial_no != "" %} value="{{ inventry.serial_no }}" {% endif %} id="serial_number" oninput="this.value = this.value.toUpperCase()" aria-describedby="snumberHelp">
            </div>
            <div class="col-3">
                <label for="serial_number" class="form-label">Photo</label>
                <input type="file" class="form-control" multiple name="photo" id="photo" aria-describedby="snumberphoto">
            </div>
            <div class="col-3">
                <label for="serial_number" class="form-label">Status <span class="text-danger">*</span></label>
                <select class="form-select" name="status" id="status" aria-label="status">
                  <option selected value="">Please select</option>
                  <option {% if inventry.status == 0 %} selected {% endif %} value=0>Not available</option>
                  <option {% if inventry.status == 1 %} selected {% endif %} value=1>Available</option>
                  <option {% if inventry.status == 2 %} selected {% endif %} value=2>Returned</option>
                  <option {% if inventry.status == 3 %} selected {% endif %} value=3>Beakfix</option>
                </select>
            </div>
        </div>

        {% if inventry.photo.all %}
            <div class="row">
                <h3 class="mt-5">Images</h3>
                {% for photo in inventry.photo.all %}
                <div class="col-md-1 mb-3 text-center squre" id="photo_{{ photo.id }}">
                    <img src="{{ photo.image.url }}" alt="Photo" class="img-fluid">
                    <a onclick="deletePhoto('{{ photo.id }}')" class="btn btn-danger btn-sm">X</a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock body %}